.my-cart {
    background-color: #EAE7DD;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.corner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

#home, #back {
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 0;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EAE7DD;
    color: #99775C;
}

.attributes {

    margin-left: 40px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
    gap: 75px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}

.cart_items {
    margin-left: 40px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
    gap: 75px;
    align-items: center;
}

.cart_item_image {
    width: 100px;
    height: 100px;
    object-fit: contain;

}

.individual {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.all-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-btn-img {
    height: 20px;
    width: 20px;
}

.delete-btn {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: groove;
}

.delete-btn:hover {
    background-color: red;
}

.delete-btn-img:hover {
    opacity: 0.8;
    cursor: pointer;

}

.total-cost {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#empty-cart {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;

}

.final-cost {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

#proceed {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

#back:hover {
    background-color: #99775C;
    color: #F2F7F2;
    transition: 0.2s;
}

#proceed:hover {
    background-color: lightgreen;
}


.cart-buttons {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-sub-img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

#quantity-vary {
    display: flex;
    gap: 28px;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -22px;
}
