.footer {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    background: url(../public/header2.jpg);
    background-size: cover;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    height: 40px;
    width: 500px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#logout, #cart {
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 0;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

#username {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
}

hr {
    margin: 0;
    border: 3px solid black;
}

.corner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 20px;
}

.corner_items {
    display: flex;
    flex-direction: row;
}

#web_icon {
    height: 100px;
    width: 100px;
}

