/*.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}*/
.content {
    height: 900px;
    width: 900px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-left: 320px;
    gap: 20px;

}

/*.sub_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 20px;
}*/
.sub_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.sub_items:hover {
    transform: translateY(-8px); /* Adjust the value as needed */
}

.item_box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 14px;
    width: 350px;
    height: 350px;
}


#apple {
    height: 200px;
    width: 250px;
}

.elements {
    display: flex;
    justify-content: center;
    text-align: center;

}

#add {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.increment-decrement {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 25px;
    height: 25px;
}

#quantity {
    font-weight: bold;
    font-size: 15px;
}