
.content {
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}


.sub_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.sub_items:hover {
    transform: translateZ(8px);
}

.item_box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
    width: 350px;
    height: 350px;
    color: dimgrey;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
}

#item_img {
    height: 200px;
    width: 250px;
    object-fit: contain;
}

.elements {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#add {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    background-color: #EAE7DD;
}

#add:hover {
    background-color: #BCAA99;
    color: #F2F7F2;
    transition: 0.2s
}


.increment-decrement {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #BCAA99;

}

#quantity {
    font-weight: bold;
    font-size: 15px;
}

.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inc-dec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;

}